body{
    height: 900px;
    

}
#a{
    color: black;
    font-weight: bolder;
    display: inline-block;
}
#b{
    color: blue;
    font-weight: bolder;
    display: inline-block;


}
header{
    border: 2px solid rgba(0, 0, 0, 0.116);
    padding-left: 70px;
    font-family: sans-serif;
}
 .main{
    height: 10px;
    border: 2px solid white ;
    position: relative;
    justify-content: center;
     
} 
        


#circle{
    height: 60px;
    width: 60px;
    background-color: blue;
    border-radius: 50%; 
    margin-top: 20px; 
   position: absolute;
   right: 0;
   margin-right: 130px;
   
    
} 

.plus{
    font-size: 50px;
    font-weight: bold;
    color: white;
    padding-left: 15px;
  
}
 .grey{
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: 40px;
    margin-right: 10px;
    font-size: large;
    font-weight: bold; 
}


#one{
    font-family: sans-serif;
    margin-top: 20px;    
    margin-right: 40px;  
}
a{
    text-decoration-line: none;
}
#last{
    font-family: sans-serif;
    font-weight: 200px;
    margin-top: 30px;
    margin-right: 5px;
}
#yes{
    height: 500px;
    width: 1100px;
    display: flex;
    margin-top: 150px; 
    gap: 50px ; 
    margin-left: 40px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}


input {
    width: 50px;
    height: 15px;


}
.line{
    text-decoration: line-through;
    color: grey; 


}
.b{  
    height: 280px;
    width: 300px;
    border-radius: 30px;
     border: 2px solid black; 
     line-height: 40px;
}
p{
    color: deepskyblue;
    font-family: sans-serif;
    margin-left: 20px;

}
.box5{
    border: 2px solid black;
    height: 200px ;
    width: 400px    ;
    background-color: white;
    box-sizing: border-box;
    position: fixed;
    left: 550px;
    top: 250px;
    z-index: 5;
    align-items: center;
   margin: auto;
   border-radius: 20px ;
}
h3{
    border: 1px solid whitesmoke;
    margin-left: 20px;


}
button{
    background-color:lightskyblue;
    margin-left: 250px;
}
.body{
    height: 100px;
    width: 100px; 
    background-color:black;
    z-index: 8;
}
.input{
    margin-left: 10px;


}
.perent{
    filter: blur(1px);
    
}
.task{
    height: 250px;
    width: 450px;
    position: absolute;
    background-color: aliceblue;
    left: 550px;
    top: 200px;
    color: white;
    /* position: relative; */
    border-radius: 5px;
    border: solid 1px black;
    justify-content: center;
    align-items: center;
}
input[type=text]{

    width: 440px;
    height: 20px;
    margin-top: 40px;
}
.add{
    height: 40px;
    width: 140px;
    background-image: linear-gradient(to bottom,rgba(255, 0, 0, 0.927),white);
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 15px;
}
.red{
    padding-top: 10px;
    color: red;
    margin-left: 20px;
}
.master{
    height: 100px;
    width: 800px;
    display: inline-block;
    position: fixed; 
    left: 350px; 
    margin-top: 50px;
    position: relative;    
}
.blackcircle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: linear-gradient(to left ,rgba(255, 0, 0, 0.418),rgba(227, 29, 204, 0.306));
    padding: 10px 0px 0px 15px  ;
      display: inline-block;
      font-size: 20px;
}
.one{
    display: inline-block;
}
.two{
    display: inline-block;
}
.blackcircle:hover{
    color: aqua;
}
.main2{
    border-radius: 50%;
    background-color:blue;
    height: 20px;
    width: 35px;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    position: absolute;
    right: 0;
    padding: 4px 4px 15px 4px ;
    margin-right: 420px;
}
.new{
    position: absolute;
    right: 0;
    margin-right: 310px;
    margin-top: 5px;
}
.z{
    height: 280px;
    width: 300px;
    border-radius: 30px;
     border: 2px solid black; 
     line-height: 40px;
     position: fixed;
     left: 500px;
     margin-top: 40px;

}
.container{
    filter: blur(2px)
}
.item{
    height: 250px;
    width: 450px;
    background-color: aliceblue;
    position: relative;
    left: 550px;
    color: white; 
    border-radius: 5px;
    border: solid 1px black;
    justify-content: center;
    align-items: center;
}
.google{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    color: grey;
    margin-right: 20px;
}
.add2{

    height: 40px;
    width: 140px;
    background-image: linear-gradient(to top, white,red);
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 15px
}
@media only screen and (max-width:600px) and (min-width:300px){


    body{
        height: 900px;
        
    
    }
    #a{
        color: black;
        font-weight: bolder;
        display: inline-block;
    }
    #b{
        color: blue;
        font-weight: bolder;
        display: inline-block;
    
    
    }
    header{
        border: 2px solid rgba(0, 0, 0, 0.116);
        padding-left: 70px;
        font-family: sans-serif;
    }
     .main{
        height: 10px;
        border: 2px solid white ;
        position: relative;
        justify-content: center;
         
    } 
            
    
    
    #circle{
        height: 60px;
        width: 60px;
        background-color: blue;
        border-radius: 50%; 
        margin-top: 20px; 
       position: absolute;
       right: 0;
       margin-right: 180px;
       
        
    } 
    
    .plus{
        font-size: 50px;
        font-weight: bold;
        color: white;
        padding-left: 15px;
      
    }
     .grey{
        display: inline-block;
        position: absolute;
        right: 0;
        margin-top: 40px;
        margin-right:50px;
        font-size: large;
        font-weight:bold; 
    }
    
    
    #one{
        font-family: sans-serif;
        margin-top: 20px;    
        margin-right: 40px;  
    }
    a{
        text-decoration-line: none;
    }
    #last{
        font-family: sans-serif;
        font-weight: 200px;
        margin-top: 30px;
        margin-right: 5px;
    }
    
    
    #yes{
       
    height: 1800px;
    width: 200px;
    display: flex;
    margin-top: 150px; 
    gap: 50px ; 
    margin-left: 40px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
   
    }
    .task{
        height: 220px;
        width: 350px;
        position: absolute;
        left: 0px;
        top: 400px;
       
    }
    .add{
        height: 40px;
        width: 140px;
        background-image: linear-gradient(to bottom,rgba(255, 0, 0, 0.927),white);
        color: black;
        font-family: sans-serif;
        font-weight: bold;
        padding-top: 15px;
        padding-left: 40px;
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 20px;
        margin-right: 10px;
        border-radius: 15px;
    }
    input[type=text]{

        width: 340px;
        height: 20px;
        margin-top: 10px;
    }
    
    .red{
        padding-top:0px;
        color: red;
        margin-left: 10px;
    }
    .master{
        height: 100px;
        width: 400px;
        display: inline-block;
        position: fixed; 
        left: 20px; 
        margin-top: 50px;
        position: relative;    
    }
    .blackcircle{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-image: linear-gradient(to left ,rgba(255, 0, 0, 0.418),rgba(227, 29, 204, 0.306));
        padding: 10px 0px 0px 15px  ;
          display: inline-block;
          font-size: 20px;
    }
    .one{
        display: inline-block;
    }
    .two{
        display: inline-block;
    }
    .blackcircle:hover{
        color: aqua;
    }
    
    .new{
        position: absolute;
        right: 0;
        margin-right:20px;
        margin-top: 10px;
    }
    .main2{
        border-radius: 50%;
        background-color:blue;
        height: 20px;
        width: 35px;
        display: inline-block;
        color: white;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        position: absolute;
        right: 0;
        padding: 4px 4px 15px 4px;
        margin-right: 120px;
    }
    .z{
        height: 280px;
        width: 400px;
        border-radius: 30px;
         border: 2px solid black; 
         line-height: 40px;
         position: fixed;
         left: 10px;
         margin-top: 20px;
    
    }
    .container{
        filter: blur(2px)
    }
    .item{
        height: 200px;
        width: 350px;
        position: relative;
        left: 5px;
        color: white; 
         border-radius: 5px;
        border: solid 1px black;
        justify-content: center;
        align-items: center; 
    }
    
    .add2{
    
        height: 40px;
        width: 140px;
        background-image: linear-gradient(to top, white,red);
        font-family: sans-serif;
        font-weight: bold;
        padding-top: 15px;
        padding-left: 40px;
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 20px;
        margin-right: 10px;
        border-radius: 15px
    }











    
    }











    

    
   
    
    
    
   